/* Font Colors */
.cw{
    color: white;
}

/* Backround Color */
.primary_color{
    background-color: #124E66;
}
.secondary_color{
    background-color: #A9C5D9;
}
.default_color{
    background-color: #f6f5f3;
}

/* Basics */
.no_padding_margin{
    padding: 0;
    margin: 0;
}

.background_sidebar_color{
    background-color: #124E66;
    color: #ffffff;
}
.jam{
    color: white;
    padding: 20px;
    border-radius: 8px;
}
.upcoming-events h6 {
    font-size: 18px;
    margin-bottom: 15px;
}
.event-date {
    display: inline-block;
    width: 50px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}
.event-month {
    display: block;
    font-size: 14px;
}
.event-details {
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
}
.event-time {
    font-size: 14px;
}
.event-location {
    font-size: 18px;
    font-weight: bold;
}

/* The Header Image CSS */
.image-container {
    position: relative;
    width: 100%;
}
.image-container .video-bg {
    width: 100%;
    height: auto;
}
.text-overlay {
    position: absolute;
    top: 0;
    left: 10%;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    color: white;
    text-align: left;
}
.overlay_header {
    font-size: calc(4vw + 3rem); /* Responsive font size */
}
.overlay_desc {
    font-size: calc(1vw + 1rem); /* Responsive font size */
    width: 64%;
}

/* News */
.square-container {
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* 1:1 aspect ratio */
    overflow: hidden;
}
.square-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Six Piece Pic */
.ratio-3x2 {
    position: relative;
    width: 100%;
    padding-bottom: 66.67%; /* 3:2 aspect ratio (height/width * 100) */
}
.ratio-3x2 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the container without distortion */
}

/* Footer */
.main_color {
    background-color: #124E66;
    color: #fff;
    padding: 20px 0;
}
.border-bottom {
    border-bottom: 1px solid #fff;
}
.map-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
}
.map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
footer {
    margin-top: 20px;
}

/* Login/Signin Style */
.login-container {
    min-height: 100vh;
}
.login-image {
    padding: 0;
    height: 100vh; /* Ensure the image column takes the full height of the viewport */
}
.login-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the container without distortion */
}
.login-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Ensure the form column takes the full height of the viewport */
}
.login-form {
    max-width: 400px;
    width: 100%;
    text-align: center;
}
.login-form .form-control {
    margin-bottom: 1rem;
}
.login-form button {
    width: 100%;
    margin-top: 1rem;
}
.login-form .additional-links {
    margin-top: 1rem;
}
.login-form img.user-icon {
    width: 50%; /* Adjust the size of the user icon */
    margin-bottom: 1.5rem; /* Add space below the user icon */
}